include LICENSE
include README.md
include CHANGELOG.md
include AUTHORS
include py.typed
recursive-include kube_orchestrator *.py *.pyi *.typed
recursive-include tests *.py
recursive-include docs *.md *.rst *.txt
recursive-include examples *.py *.yaml *.yml
global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude .DS_Store
